$black: #000;
$white: #fff;
$regular: #34495e;
$midnight: #2C3E50;
$green: #B2DFDB;
$cyan: #00838F;
$clearcyan: rgba(0,131,143,.9);

$blackTrans: rgba(0,0,0,.5);

//buttons
$btnPrimary: #1abc9c;
$btnPrimaryHover: #48c9b0;
$btnPrimaryActive: #16a085;