@import 'normalize.scss';
@import "colors";
@import "typo";
@import "grid";
@import "buttons";
@import "header";
@import "sidebar";
@import "parallax";
@import "portfolio";

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $regular;
  font-family: "Lato", Helvetica, Arial, sans-serif;

  * {
    box-sizing: border-box;
  }
}

.clearfix {
  content: ' ';
  display: table;
  clear: both;
}

.main {
  height: 500px;
  background: red;
}
.about {
  height: 500px;
  background: yellow;
}
.contact {
  height: 500px;
  background: blue;
}