.portfolio {
  @extend .parallax;
  height: auto;
  background-image: url("../img/portfolio-back.jpg");

  &:before {
    opacity: .6;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.project {
  width: 100%;
  margin-top: 50px;
  padding: 0 25px;
  display: flex;
  align-items: center;

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  @media #{$max-md} {
    margin-top: 0;
    padding: 5px;
    flex-direction: column;
  }
}
.project:nth-child(even) {
  flex-direction: row-reverse;

  @media #{$max-md} {
    flex-direction: column;
  }
}
.project:last-child {
  margin-bottom: 50px;

  @media #{$max-md} {
    margin-bottom: 25px;
  }
}

.description li {
  padding-left: 31px;
  text-indent:  -31px;
}

.view {
  text-align: center;

  @media #{$max-md} {
    margin-top: 15px;
  }
}