@import "LatoFont";

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 700;
  line-height: 1.1;
  color: inherit;
}
h1, h2, h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}
h4, h5, h6 {
  margin: 15px 0;
}

h1 {
  font-size: 61px;
}
h2 {
  font-size: 53px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 29px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 18px;
  line-height: 1.72222;
}